Library/
Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Temp/UnityLockfile
Temp/UnityTempFile-08ddd71460dbcdc46948f42e3f05ef6f
Temp/UnityTempFile-148b266d409303745a172c5e2ce976b1
Temp/UnityTempFile-1d5078a09b8a6c148824f479bac11b9a
Temp/UnityTempFile-2532a19b2ca549d4ebaef0043cc9b4d2
Temp/UnityTempFile-29523f97df363a94eab2d65a3de898bf
Temp/UnityTempFile-3704ad85f2889ff4980f45a2c509d9e9
Temp/UnityTempFile-3d49f013d8fe5344594db071678fa54a
Temp/UnityTempFile-448441ac1c79dc640bb732d6a640590b
Temp/UnityTempFile-630a83f1ce6f4a84da1fa6c170e84f4f
Temp/UnityTempFile-676863cb4e00d3441af49216371f8692
Temp/UnityTempFile-67ee34eb098f27c4bb8f7b4d4acd3eb7
Temp/UnityTempFile-6989221b83d33c7499a9eb05e348fa41
Temp/UnityTempFile-6d026229f9929b4488456c19a62148d7
Temp/UnityTempFile-71a338a9be7403842af9a8d5873c6dcb
Temp/UnityTempFile-725502fc6186bb94c86876a1e0c4d2ec
Temp/UnityTempFile-73490311099fcc94ba2494010feb4d37
Temp/UnityTempFile-74415109413854445bc820f4d5414356
Temp/UnityTempFile-7aa15553b0239c742b350cfea93bba32
Temp/UnityTempFile-7d54177e513c6e849b6a5a1f8572a333
Temp/UnityTempFile-8afc0e6b8f0d32f44882d7120aef05df
Temp/UnityTempFile-8da19b00bcc4c2c48b4252bf0b6e58da
Temp/UnityTempFile-9a6e233aadc73db4fa8199a814f437ca
Temp/UnityTempFile-a05086e678f89134abb1ee1b591df3b7
Temp/UnityTempFile-ab8ea8bdc4369b54a947e5ac06c6e76c
Temp/UnityTempFile-b55933d116b371f43af60067e6ee3ad2
Temp/UnityTempFile-c7aced2e109784a40b428180cb233930
Temp/UnityTempFile-d11226483012ee84bab73e0e789c1b60
Temp/UnityTempFile-eee623b9b5c461f4e9245320e2f35766
Temp/UnityTempFile-f654ee65a7d408a448753b7e20162d56
Temp/UnityTempFile-f7d36ad51b5cd1d458f83075a47e8465
Temp/UnityVS_bin/Debug/Assembly-CSharp-Editor.dll
Temp/UnityVS_bin/Debug/Assembly-CSharp-Editor.pdb
Temp/UnityVS_bin/Debug/SyntaxTree.VisualStudio.Unity.Bridge.dll
Temp/UnityVS_bin/Debug/SyntaxTree.VisualStudio.Unity.Bridge.xml
Temp/UnityVS_bin/Debug/UnityEditor.Advertisements.dll
Temp/UnityVS_bin/Debug/UnityEditor.Advertisements.xml
Temp/UnityVS_bin/Debug/UnityEditor.Analytics.dll
Temp/UnityVS_bin/Debug/UnityEditor.Analytics.xml
Temp/UnityVS_bin/Debug/UnityEditor.EditorTestsRunner.dll
Temp/UnityVS_bin/Debug/UnityEditor.EditorTestsRunner.xml
Temp/UnityVS_bin/Debug/UnityEditor.Graphs.dll
Temp/UnityVS_bin/Debug/UnityEditor.Graphs.xml
Temp/UnityVS_bin/Debug/UnityEditor.HoloLens.dll
Temp/UnityVS_bin/Debug/UnityEditor.HoloLens.xml
Temp/UnityVS_bin/Debug/UnityEditor.Networking.dll
Temp/UnityVS_bin/Debug/UnityEditor.Networking.xml
Temp/UnityVS_bin/Debug/UnityEditor.PlaymodeTestsRunner.dll
Temp/UnityVS_bin/Debug/UnityEditor.PlaymodeTestsRunner.xml
Temp/UnityVS_bin/Debug/UnityEditor.TreeEditor.dll
Temp/UnityVS_bin/Debug/UnityEditor.TreeEditor.xml
Temp/UnityVS_bin/Debug/UnityEditor.UI.dll
Temp/UnityVS_bin/Debug/UnityEditor.UI.xml
Temp/UnityVS_bin/Debug/UnityEditor.VR.dll
Temp/UnityVS_bin/Debug/UnityEditor.VR.xml
Temp/UnityVS_bin/Debug/UnityEditor.WindowsStandalone.Extensions.dll
Temp/UnityVS_bin/Debug/UnityEditor.WindowsStandalone.Extensions.xml
Temp/UnityVS_bin/Debug/UnityEditor.dll
Temp/UnityVS_bin/Debug/UnityEditor.xml
Temp/UnityVS_bin/Debug/UnityEngine.Analytics.dll
Temp/UnityVS_bin/Debug/UnityEngine.Analytics.xml
Temp/UnityVS_bin/Debug/UnityEngine.HoloLens.dll
Temp/UnityVS_bin/Debug/UnityEngine.HoloLens.xml
Temp/UnityVS_bin/Debug/UnityEngine.Networking.dll
Temp/UnityVS_bin/Debug/UnityEngine.Networking.xml
Temp/UnityVS_bin/Debug/UnityEngine.PlaymodeTestsRunner.dll
Temp/UnityVS_bin/Debug/UnityEngine.PlaymodeTestsRunner.xml
Temp/UnityVS_bin/Debug/UnityEngine.UI.dll
Temp/UnityVS_bin/Debug/UnityEngine.UI.xml
Temp/UnityVS_bin/Debug/UnityEngine.VR.dll
Temp/UnityVS_bin/Debug/UnityEngine.VR.xml
Temp/UnityVS_bin/Debug/UnityEngine.dll
Temp/UnityVS_bin/Debug/UnityEngine.xml
Temp/UnityVS_bin/Debug/nunit.framework.dll
Temp/UnityVS_bin/Debug/nunit.framework.xml
Temp/UnityVS_obj/Debug/Assembly-CSharp-Editor.dll
Temp/UnityVS_obj/Debug/Assembly-CSharp-Editor.pdb
Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Temp/UnityVS_obj/Debug/ProcArt.Editor.csproj.FileListAbsolute.txt
Temp/UnityVS_obj/Debug/ProcArt.Editor.csprojResolveAssemblyReference.cache
Temp/
